.question-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 93vh;
  width: 60vw;
}

h1.article-title {
  font-size: 36px;
  margin: 15px 0 20px;
  width: 65vw;
  text-align: center;
}

.article-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px;
}

.pagination {
  margin-top: 20px;
}

.article-info p {
  margin-top: 20px;
  padding: 5px 10px;
}

.article-info .article-date {
  background-color: #eee;
  border-radius: 5px;
}

.article-info .article-source {
  font-style: italic;
}

.article-content {
  margin: 0 20px 18px;
  padding: 20px;
  line-height: 26px;
  font-size: 22px;
  overflow: scroll;
  max-height: 53vh;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  height: 40px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 80%;
  border-radius: 50px;
  background-color: rgba(245, 255, 250, 0.6);

  .ant-form-item {
    margin: 0;
  }

  .form-input {
    width: 40vw;
  }

  .form-submit {
    margin-left: 20px;
  }
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(245, 255, 250, 0.6);
  margin-top: 5vh;
}

